@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@300&display=swap');

:root{
    --primary: #385B00;
    --sec: #FFFFFF;
    --but: #d41d1d;
   --font-title: 'Cinzel', serif;
   --font-text: 'Roboto', sans-serif; 
 }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Estilo Navbar*/

.navbar {
    height: 100px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo img {
    width: 100%;
    width: 6em;
    height:6em;
}

.logo img:hover{
    cursor: pointer;
    transform: scale(1.3,1.3);
    transition: 0.5s;
}

.banner img {
    width: 100%;
    height: 15em;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.contenedor {
    display: flex;
    justify-content: start;
    padding: 10%;
    margin-left: 30%;
    align-items: center;
    width: 600px;
   height: 300px;
    background-color: var(--primary);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-top: 2%;
}

.formu form {
    display: flex;
    flex-direction: column;
}


.formu label, .formu input {
    margin-bottom: 15px;
    font-family: var(--font-text);
    border-radius: 10px;
}

.formu label{
    color: var(--sec);
}

.formu input{
    color: var(--primary);
}

h2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: var(--font-title);
    color: var(--sec);
}

.formu button {
    height: 30px;
    width: 100px;
    font-family: var(--font-title);
    color: var(--primary);
    margin-left: 30%;
}

.formu a{
    font-family: var(--font-text);
    color: var(--sec);
    font-size: 12px;
    margin-top: 15px;
    margin-left: 30%;

}

.foot{
    background-image: url(/imagenes/Banners/contacto.png);
        width: 100%;
        height: 300px;
         background-repeat: no-repeat;
         background-size: cover;
         justify-content: center;
        margin-top: 50px;
}

.suscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.suscribe input, .suscribe button{
    margin-top: 8%;
    border-radius:5px;
}

.suscribe button {
    background-color: var(--but);
    height: 30px;
    width: 100px;
    font-family: var(--font-title);
    color: var(--sec);
}

.suscribe input{
    height: 30px;
    width: 300px;
    font-family: var(--font-text);
}

.succes {
    border: 1px solid green;
}

.error {
    border: 1px solid red;
}

.foot p{
    font-family: var(--font-title);
    color: var(--sec);
    margin-left:40%;
    margin-top: 30px;
}


/*---------------------------------------------------*/

/*RESPONSIVE*/


@media screen and (max-width: 1024px){

    .contenedor {
        width: 80%;
        margin-left: 10%;
        }
    
        .formu {
            width: 80%;
           margin-left: 5%;
        }
    
        .foot {
            height: 150px;
            align-items: center;
        }

        .foot p {
           display: none; 
         
        }

}

